{{#each this}}
<div>
    <div class="card-img-top">
        <img src="{{flags.svg}}" alt="{{name.official}}" width= '100px'>
        <h2 class="card-title">Имя: {{name.official}}</h2>
    </div>
    <div class="card-body">
       
        <p class="card-text">Capital: {{capital}}</p>
        <p class="card-text">Population: {{population}}</p>
        <ul class="list-group"></ul>
{{#each languages}}
        <li class="card-text">Languages: {{this}}</li>
{{/each}}
       </ul> 
     </div>
</div>
{{/each}}
